body{
    background-color: slategrey;
    background-image: url('https://www.bugatti.com/fileadmin/_processed_/e/4/csm_01_Stage_1920x1080_9483b9eec1.png');
    
}

header{
    height: 5vh;
    text-align: center;
    font-weight: ;
    font-size: 50px;
    font-family: cursive;
    padding-bottom: 20px;
    
    font-weight: bold;
    color: white;
    background-image: url(https://images.hgmsites.net/hug/dendrobium-xp-2-concept_100695078_h.jpg);

}

.box-one{
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
}


h1{
    font-size: 20px;
    color: gold;
    
}

h2{
    font-size: 15px;
    color: orangered;
    
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    
}

.delete-btn{
    font-size: 20px;
    position: relative;
    margin: 0;
    left: 14vw;
    display: inline-block;


}

.cars{
    width: 20vw;
    border-radius: 50px;
    padding: 40px;
    margin: 20px;
    box-sizing: border-box;
}

.edit-btn{
    border: none;
    background-color: transparent;
    color: white;

}

.search-box{
    margin-left: 90px;
    margin-top: 50px;
}
